adium-theme-ubuntu==0.3.4
astroid==1.4.4
beautifulsoup4==4.4.1
chardet==2.3.0
Django==2.0.7
django-tinymce==2.7.0
dnspython==1.12.0
html5lib==0.999
lazy-object-proxy==1.2.1
logilab-common==1.1.0
lxml==3.5.0
mercurial==3.7.3
nltk==3.3
numpy==1.11.0
PAM==0.4.2
pbr==1.8.0
pexpect==4.0.1
Pillow==5.2.0
ptyprocess==0.5
pycrypto==2.6.1
pycurl==7.43.0
pygame===1.9.1release
pygobject==3.20.0
pyinotify==0.9.6
pyliblzma==0.5.3
pylint==1.5.2
pysqlite==1.0.1
pytz==2018.5
rpm-python==4.12.0.1
scikit-learn==0.19.2
six==1.11.0
stevedore==1.12.0
unity-lens-photos==1.0
urlgrabber==3.9.1
vboxapi==1.0
virtualenv==16.0.0
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wrapt==1.8.0
wxPython==3.0.2.0
wxPython-common==3.0.2.0
youtube-dl==2016.2.22
yum-metadata-parser==1.1.4
