{% extends 'base.html' %} {% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">User Detail</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <p><strong>Username:</strong> {{ object.username }}</p>
            <p><strong>Email:</strong> {{ object.email }}</p>
            <p><strong>First Name:</strong> {{ object.first_name }}</p>
            <p><strong>Last Name:</strong> {{ object.last_name }}</p>
            <p><strong>User Type:</strong> {{ object.user_type }}</p>
            <p><strong>Country:</strong> {{ object.country }}</p>
            <a href="{% url 'accounts:user-update' object.slug %}" class="btn btn-warning"
              >Edit</a
            >
            <a href="{% url 'accounts:users' %}" class="btn btn-secondary"
              >Back</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
