/* ========================================================================
 * BLOG SINGLE
 * ======================================================================== */
.icon-list:before, .icon-th-list:before, .icon-indent-right:before, .icon-indent-left:before, .icon-share:before, .icon-picture:before {
  font-family: 'FontAwesome';
  font-style: normal;
  color: #99999C;
}

.icon-list:before {
  content: "\f03a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-indent-right:before {
  content: "\f03b";
}

.icon-indent-left:before {
  content: "\f03c";
}

.icon-share:before {
  content: "\f0c1";
}

.icon-picture:before {
  content: "\f03e";
}
