/* ========================================================================
 * FONT ICON CSS
 * ======================================================================== */
.flag-wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
  border: none;
  overflow: hidden;
  margin-bottom: 5px;
  cursor: pointer;
}
.flag-wrapper:after {
  padding-top: 75%;
  display: block;
  content: "";
}
.flag-wrapper .flag {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.flag-wrapper .img-thumbnail {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}

.flag-icon-inner .col-md-1, .flag-icon-inner .col-md-4, .flag-icon-inner .col-sm-2 {
  padding-left: 0;
}
