/* ========================================================================
 * FRONTEND THEMES PAGE
 * ======================================================================== */
.cbp-l-inline-left.scroll {
  height: 376px;
  overflow-y: scroll;
}

.label-theme-color {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.dl-horizontal dd {
  margin-bottom: 5px !important;
}
.dl-horizontal dd .color-theme {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
