/* ========================================================================
 * TABLES SAMPLES
 * ======================================================================== */
.cbp-l-grid-tabs .cbp-item {
  max-width: inherit !important;
  font: inherit !important;
}

.cbp img {
  width: 30px !important;
  margin: 0;
  display: inline-block !important;
}
