<div id="tour-12" class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="mini-stat clearfix bg-facebook rounded">
                                <span class="mini-stat-icon"><i class="fa fa-facebook fg-facebook"></i></span>
                                <div class="mini-stat-info">
                                    <span class="counter">5,762</span>
                                    Facebook Like
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="mini-stat clearfix bg-twitter rounded">
                                <span class="mini-stat-icon"><i class="fa fa-twitter fg-twitter"></i></span>
                                <div class="mini-stat-info">
                                    <span class="counter">7,153</span>
                                    Twitter Followers
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="mini-stat clearfix bg-googleplus rounded">
                                <span class="mini-stat-icon"><i class="fa fa-google-plus fg-googleplus"></i></span>
                                <div class="mini-stat-info">
                                    <span class="counter">793</span>
                                    Google+ Posts
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="mini-stat clearfix bg-bitbucket rounded">
                                <span class="mini-stat-icon"><i class="fa fa-bitbucket fg-bitbucket"></i></span>
                                <div class="mini-stat-info">
                                    <span class="counter">8,932</span>
                                    Repository
                                </div>
                            </div>
                        </div>
                    </div>